<nav id="nav">
  <strong class="logo"><a href="#"><img src="assets/images/logo.png" alt="The Public Institution For Social Security"></a></strong>
  <div class="user-box">
    <div class="img-holder"><img src="assets/images/ico-avatar.png" alt="img description"></div>
    <div class="textbox">
      <strong class="title">محمد بن صادق صالح </strong>
      <span class="number">1234556789071324</span>
    </div>
  </div>
  <ul class="navigation">
    <li class="home active"><a routerLink="/">الرئيسية </a></li>
    <li class="about"><a href="#">حول المؤسسة</a></li>
    <li class="profile"><a href="#">الملف الشخصي</a></li>
    <li class="list-services"><a href="#">التعريف بالخدمات</a></li>
    <li class="faq"><a href="#">اسئلة شائعة </a></li>
    <li class="settings"><a href="#">الإعدادات</a></li>
    <li class="app"><a href="#">تقييم التطبيق </a></li>
    <li class="help"><a href="#">مساعدة</a></li>
    <li class="contact"><a routerLink="/contact">إتصل بنا</a></li>
  </ul>
  <div class="logout-btn">
    <a href="#" class="logout">تسجيل الخروج  </a>
  </div>
</nav>
