<header id="header">
  <a href="#" class="nav-opener"></a>
  <strong class="logo"><a href="#"><img src="assets/images/logo.png" alt="The Public Institution For Social Security"></a></strong>
  <div class="add-links">
    <div class="notifications-drop">
      <a href="#" class="icon-bell"></a>
      <div class="drop-wrap">
        <ul>
          <li class="new"><a href="#">لقد تم الموافقة على  طلبكم بخصوص صرف معاش مقدم </a></li>
          <li class="new"><a href="#">يرجى التحقق من الوتائق المطلوبة والقيام بإعادة ارسالها أقرب وقت   في</a></li>
          <li><a href="#">لقد تم الموافقة على  طلبكم بخصوص صرف معاش مقدم </a></li>
          <li><a href="#">لقد تم الموافقة على  طلبكم بخصوص صرف معاش مقدم </a></li>
          <li><a href="#">لقد تم الموافقة على  طلبكم بخصوص صرف معاش مقدم </a></li>
        </ul>
      </div>
    </div>
    <span class="lang-drop">
						<select>
							<option value="EN">EN</option>
							<option value="AR">AR</option>
						</select>
					</span>
    <a href="#" class="icon-logout"></a>
  </div>
</header>
