<footer id="footer">
  <nav class="footer-nav">
    <ul>
      <li class="home active"><a href="#">الرئسية </a></li>
      <li class="notifications"><a href="#">الإشعارات </a></li>
      <li class="profile"><a href="#">الملف الشخصي </a></li>
      <li class="app"><a href="#">تقيم التطبيق   </a></li>
    </ul>
  </nav>
  <ul class="social-networks">
    <li><a class="icon-youtube" href="#"></a></li>
    <li><a class="icon-instagram-with-circle" href="#"></a></li>
    <li><a class="icon-twitter-with-circle" href="#"></a></li>
    <li><a class="icon-facebook-with-circle" href="#"></a></li>
  </ul>
  <div class="copyrights">
    <p>جميع حقوق النشر و الطبع محفوظة © 2018 المؤسسة العامة للتأمينات الإجتماعية جميع الحقوق محفوظة</p>
  </div>
</footer>
