<div id="wrapper">
  <app-nav></app-nav>
  <div class="w1">
    <div id="main">
      <app-header></app-header>
      <!--<router-outlet></router-outlet>-->
      <app-footer></app-footer>
    </div>
  </div>
  hello
</div>
